@model PasswordManager.App.Models.ProfileViewModel

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { @class = "profile-detail-group" }))
{
    @Html.AntiForgeryToken()

    <div class="profile-details">
        <h4>@Html.LabelFor(model => model.Title):</h4>
        @Html.EditorFor(m => m.Title, new { @class = "profile-textbox" })

        <h4>@Html.LabelFor(model => model.Category):</h4>
        @Html.DropDownListFor(m => m.Category, (List<SelectListItem>)ViewBag.categoryItems, new { @class = "profile-textbox" })

        <h4>@Html.LabelFor(model => model.Website):</h4>
        @Html.EditorFor(m => m.Website, new { @class = "profile-textbox" })

        <h4>@Html.LabelFor(model => model.LoginName):</h4>
        @Html.EditorFor(m => m.LoginName, new { @class = "profile-textbox" })

        <h4>@Html.LabelFor(model => model.Password):</h4>
        @Html.EditorFor(m => m.Password, new { @class = "profile-textbox" })

        <h4>@Html.LabelFor(model => model.SignUpEmail):</h4>
        @Html.EditorFor(m => m.SignUpEmail, new { @class = "profile-textbox" })
    </div>

    @Html.ValidationSummary(false, "", new { @class = "form-message" })

    <div class="profile-btn-group">
        <input type="submit" value="Create" class="profile-btn" />
    </div>
}
