@model PasswordManager.App.Models.ProfileViewModel

<div class="profile-detail-group">
    <div class="profile-details">
        <h4>@Html.LabelFor(model => model.Website):</h4>
        <p>@Html.DisplayFor(m => m.Website)</p>

        <h4>@Html.LabelFor(model => model.LoginName):</h4>
        <p>@Html.DisplayFor(m => m.LoginName)</p>

        <h4>@Html.LabelFor(model => model.Password):</h4>
        <p>@Html.DisplayFor(m => m.Password)</p>

        <h4>@Html.LabelFor(model => model.SignUpEmail):</h4>
        <p>@Html.DisplayFor(m => m.SignUpEmail)</p>

        <h4>@Html.LabelFor(model => model.AgeOfPassword):</h4>
        <p>@Html.DisplayFor(m => m.AgeOfPassword)</p>
    </div>

    <div class="profile-bottom">
        <div class="profile-btn-group option-group">
            <button class="profile-btn edit-btn" onclick="onEditClick()">Edit</button>
            <button class="profile-btn delete-btn" onclick="onDeleteClick()">Delete</button>
        </div>
        @Html.Partial("_DeletePartial", Model)
    </div>
</div>