@model IEnumerable<PasswordManager.App.Models.ProfileModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Profile/_Layout.cshtml";
}

<h2>Your Profiles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<ul class="profile-list">
    @foreach (var item in Model)
    {
        <li>
            <button class="profile-title">
                @Html.DisplayFor(modelItem => item.Title)
            </button>
            <div class="profile-details">
                <h4>@Html.DisplayNameFor(model => model.Website):</h4>
                @Html.TextBoxFor(modelItem => item.Website, new { @class = "profile-textbox" })

                <h4>@Html.DisplayNameFor(model => model.LoginName):</h4>
                @Html.TextBoxFor(modelItem => item.LoginName, new { @class = "profile-textbox" })

                <h4>@Html.DisplayNameFor(model => model.Password):</h4>
                @Html.TextBoxFor(modelItem => item.Password, new { @class = "profile-textbox" })

                <h4>@Html.DisplayNameFor(model => model.SignUpEmail):</h4>
                @Html.TextBoxFor(modelItem => item.SignUpEmail, new { @class = "profile-textbox" })

                <h4>@Html.DisplayNameFor(model => model.AgeOfPassword):</h4>
                @Html.TextBoxFor(modelItem => item.AgeOfPassword, new { @class = "profile-textbox" })
            </div>
        </li>
    }
</ul>

@section Scripts {
    <script>
        const details = document.querySelectorAll('.profile-details');
        const titleBtns = document.querySelectorAll('.profile-title');
        let currentBtn = null;
        let currentDtls;

        collapseAll();

        titleBtns.forEach((btn, index) => btn.addEventListener('click', (e) => {
            
            if (currentBtn != null) {
                // Animate transition
                currentDtls.style.maxHeight = null;
                // Turn off displays
                currentBtn.style.border = 'none';
            }

            if (currentBtn != btn) {
                currentBtn = btn;
                currentDtls = details[index];
                // Turn on displays
                currentBtn.style.border = 'solid 4px var(--accent-color)';
                currentDtls.style.display = 'grid';
                // Animate transition
                currentDtls.style.maxHeight = currentDtls.scrollHeight + 'px';
            }
            else {
                currentBtn = null;
            }
        }));

        function collapseAll() {
            details.forEach((item) => {
                item.style.maxHeight = null;
            });
        };

    </script>
}

@*
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignUpEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeOfPassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignUpEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeOfPassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", item) |
            @Html.ActionLink("Delete", "Delete", item)
        </td>
    </tr>
}

</table>
*@