@using PasswordManager.App.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutBanner.cshtml";
}

<h3 class="banner-header">Sign In</h3>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "banner-form", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "form-message" })

    <div class="form-item-group">
        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "profile-textbox" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-message" })
    </div>

    <div class="form-item-group">
        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "profile-textbox" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "form-message" })
    </div>

    <div class="checkbox-group">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, new { @class = "form-label" })
    </div>

    <input type="submit" value="Log in" class="form-btn" />

    @Html.ActionLink("Register as a new user", "Register", null, new { @class = "form-link" })

    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}