@model PasswordManager.App.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h3 class="banner-header">Sign Up</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "banner-form", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "form-message" })

    <div class="form-item-group">
        @Html.LabelFor(m => m.Email, new { @class = "form-lable" })
        @Html.TextBoxFor(m => m.Email, new { @class = "profile-textbox" })
    </div>

    <div class="form-item-group">
        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "profile-textbox" })
    </div>

    <div class="form-item-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "profile-textbox" })
    </div>

    <input type="submit" class="form-btn" value="Register" />

    @Html.ActionLink("Back to login", "Login", null, new { @class = "form-link" })
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
